@model FinkiCommunity.Models.HomePageModel

@{
    ViewBag.Title = "Home Page";
}

<div style="display: flex; justify-content: space-between;">
    <div id="groups-container" style="width: 200px; margin-top: 50px; border: 2px solid red; padding: 10px; flex-grow: 1">
        @foreach (var homeGroup in Model.HomeGroups)
        {
            <div style="border: 1px solid green; margin-bottom: 10px;">
                <div class="homeGroupCode">
                    @homeGroup.CourseCode
                </div>
                <div class="homeGroupName">
                    @homeGroup.CourseName
                </div>
                <div class="homeGroupDescription">
                    @homeGroup.CourseDescription
                </div>
            </div>
        }
    </div>
    <div id="posts-container" style="border: 1px solid black; width: 200px; margin-top: 50px; flex-grow: 10">
        
    </div>
</div>
